name: Pinact

on:
  pull_request:
    branches: [main]
    paths:
      - ".github/workflows/**"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  pinact:
    name: Pin Actions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Pin actions
        uses: suzuki-shunsuke/pinact-action@28aeb220eb3252ad0d4422dd5d9368e925acbd8d # v1.3.0
        with:
          app_id: ${{ vars.AWAIT_READY_BOT_APP_ID }}
          app_private_key: ${{ secrets.AWAIT_READY_BOT_PRIVATE_KEY }}
